.git
.gitignore
.env
.env.example
brief.md
test.php
node_modules/
vendor/
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
docker-compose.yml
Dockerfile
.dockerignore
.gitattributes
.prettierignore
.prettierrc
.npmrc
.editorconfig
readme.md
documentation/
